<div id="<%= dom_id ubicacion %>">
  <p>
    <strong>Nombre:</strong>
    <%= ubicacion.nombre %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= ubicacion.direccion %>
  </p>

  <p>
    <strong>Proveedor:</strong>
    <%= ubicacion.proveedor_id %>
  </p>

</div>
