<h1>Editing ubicacion</h1>

<%= render "form", ubicacion: @ubicacion %>

<br>

<div>
  <%= link_to "Show this ubicacion", @ubicacion %> |
  <%= link_to "Back to ubicacions", ubicacions_path %>
</div>
