<h1>Editing linea requesicion</h1>

<%= render "form", linea_requesicion: @linea_requesicion %>

<br>

<div>
  <%= link_to "Show this linea requesicion", @linea_requesicion %> |
  <%= link_to "Back to linea requesicions", linea_requesicions_path %>
</div>
