<div id="<%= dom_id division %>">

<table class=" table table-responsive table-bordered">
  

      <tr>
        <th>Nombre del empleado</th>
        <td><%= division.nombre_empleado %></td>
      </tr>
      <tr>
        <th>Trabaja en</th>
        <td><%= @proveedor.compania %></td>
      </tr>
      <tr>
        <th>Cargo</th>
        <td><%= @cargo.nombre %></td>
      </tr>
    
</table>

</div>

