<%if user_signed_in?%>
    <h1>Bienvenido <%= Usuario.find_by(user_id:current_user.id).nombre.split(' ')[0] %> <%= Usuario.find_by(user_id:current_user.id).apellido.split(' ')[0] %></h1>
<%end%>




 