<div class="card-header d-flex justify-content-between align-items-center">
  <h1>Evaluar proveedores</h1>
</div>

<% if @provees == nil%>
<table class="table table-responsive table-bordered">

  <thead>
    <tr>
      <th>Compania</th>
      <th>Web Site</th>
      <th>Telefono</th>
      
    </tr>
  </thead>
  <tbody>
    <% @provees.each do |pro| %>
      <tr>
          <td>
            <strong><%=  pro.compania %></strong>
          </td>
          <td>
            <strong><%=  pro.web_site %></strong>
          </td>
          <td>
            <strong><%=  pro.telefono %></strong>
          </td>
          
          <td>
        
          <div class="btn-toolbar" role="toolbar">
              <div class="btn-group" role="group">
              <form class="button_to" method="get" action="/evaluacions/new/<%=  pro.id %>">
              <button  name="button" class='btn btn-primary' type="submit">
              <span>Evaluar</span>
              </button>
              </form>
              </div>
          </div>
      
        
       
              
          </td>

        
      </tr>
    <%end %>
      
  </tbody>
</table>
<% else %>
<h3>No hay proveedores para Evaluar</h3>

<% end %>
