<h1>Editing requesicion</h1>

<%= render "form", requesicion: @requesicion %>

<br>

<div>
  <%= link_to "Show this requesicion", @requesicion %> |
  <%= link_to "Back to requesicions", requesicions_path %>
</div>
