<p style="color: green"><%= notice %></p>
<div class="card-header d-flex justify-content-between align-items-center">
  <h1>Requisiciones</h1>
  <%= link_to "Nueva requisicion", new_requesicion_path, class:"btn btn-primary btn-sm" %>
</div>

<div id="requesicions">
  <% @requesicions.each do |requesicion| %>
    <%= render requesicion %>
    <p>
      <%= link_to "Show this requisicion", requesicion %>
    </p>
  <% end %>
</div>
