<p style="color: green"><%= notice %></p>
<div class="card-header d-flex justify-content-between align-items-center">
  <h1>Requisiciones</h1>
  <%= link_to "Nueva requesicion", new_requesicion_path %>
</div>

<div id="requesicions">
  <% @requesicions.each do |requesicion| %>
    <%= render requesicion %>
    <p>
      <%= link_to "Show this requesicion", requesicion %>
    </p>
  <% end %>
</div>
