<div class="card mt-s">
<div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="text text-secondary"><%=@proveedorNombre%> -> Nueva ubicacion  </h3>
</div>


<%= render "formNuevaUbicacion", ubicacion: @ubicacion %>
