<div class="card-header d-flex justify-content-between align-items-center">
  <h1>Reporte de montos de compra por categorias</h1>
  
      
</div>

<table class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Monto de compras ($)</th>
      
    </tr>
  </thead>
   <tbody>
   
    <% @array.each do |l| %>
        
        <tr>
          <td>
            <%=  l[1] %>
          </td>
          <td>
            <%=  l[2] %>
          </td>
        
            
      </tr>
        
     
    <%end %>
      
  </tbody>
</table>